.BoxWithShadow {
    background: var(--col-darkish);
    border-radius: .35rem;
    text-align: center;
    box-shadow: rgba(18, 19, 20, 0.2) 0px 2px 10px;
    transition: box-shadow ease-in 100ms;
}

.BoxWithShadow button {
    padding: 1rem 2rem;
    background: transparent;
    border-color: transparent;
    color: inherit;
}
.BoxWithShadow h4 {
    margin: 0;
}
.BoxWithShadow:hover {
    box-shadow: rgba(0,0,0, .65) 0px 8px 20px;
    transition: box-shadow ease-in 100ms;
}
.BoxWithShadow:active {
    box-shadow: rgba(0,0,0, 0) 0px 8px 20px;
    transition: box-shadow ease-in 50ms;
}
.BoxWithShadow img {
    display: block;
    margin: 0 auto;
}